<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="global.css">
</head>

<body>
    <a href="{% url 'scrape' %}" class="btn">Sign Out</a>

    <div class="flex-container">
        <div class="read-card">
            <div style="display: flex;justify-content: space-between;">
                <a href="{% url 'scrape' %}" class="btn btn-link">
                    < Back</a>

                        <div>
                            <div class="tag-container">
                                <div class="tag" style="color:#087a04;background-color:#d3f5d2;">
                                    #lorem
                                </div>
                                <div class="tag" style="color:#be1d1d;background-color:#f1c5c5;">
                                    #ipsum
                                </div>
                                <div class="tag" style="color:#135686;background-color:#b3d7f1;">
                                    #dolor
                                </div>
                            </div>
                        </div>
            </div>


            <center>
                <h1>Lorem Ipsum</h1>
            </center>

            <br />

            <div>

                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae metus luctus, bibendum justo sed,
                semper risus. Vivamus et dictum erat. Phasellus in eros non dolor pellentesque tincidunt et sed libero.
                Quisque sollicitudin, turpis malesuada facilisis scelerisque, erat nisi facilisis ante, eget ullamcorper
                metus odio et urna. Cras ut mauris et leo rutrum sagittis. Suspendisse egestas eros nisi, eget consequat
                lectus ullamcorper a. Integer vel erat et velit sollicitudin convallis vel in sapien. Vestibulum
                eleifend neque et mauris congue, eget molestie justo posuere. Nunc volutpat sed leo at bibendum.
                Vestibulum sit amet pellentesque nulla. Morbi egestas laoreet nisl, vitae mollis quam vulputate eu.
                Vestibulum ut fringilla nunc.
                <br />
                <br />
                Donec bibendum mauris nisi, ac consequat diam placerat id. Sed sed tempor elit. Integer tempor nisl quis
                orci porta, at condimentum turpis condimentum. Duis id ipsum id ipsum gravida blandit vel a ipsum. Sed
                quis ornare erat, ut lacinia orci. Duis nec enim ac libero condimentum aliquet. Maecenas egestas
                dignissim libero vel semper. Phasellus vestibulum risus tempor velit bibendum auctor. Nullam venenatis
                eget magna id semper. Curabitur vel volutpat eros. Etiam blandit enim at felis condimentum pulvinar.
                Cras luctus facilisis suscipit. Maecenas sit amet odio sed tortor eleifend egestas. Nam cursus lorem in
                porta rutrum.
                <br />
                <br />
                Suspendisse vel diam facilisis, eleifend purus ac, maximus libero. Suspendisse sed metus vulputate,
                accumsan nunc eget, eui smod massa.

            </div>
        </div>
    </div>





    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>