<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="global.css">
</head>

<body>

    <input type="checkbox" id="slide-box">

    <label for="slide-box" class="slide-box-label">
        Hello
    </label>
   
    

    <div class="slideover">
        <label for="slide-box" style="padding: 16px 0 0 6px;">
            < Hide
        </label>

        <h1 style="padding: 0px 0 16px 16px;">Notes</h1>

        <div class="notes">
            {% for note in notes %}
            <div class="note">
                 <div class="flex-container">
                     <div class="note-card">
                        <h3>{{note.user_id}}</h3>
            
                        <br />
            
                        <div>
                            {{note.about}}
                        </div>
                    </div>
                 </div>
            </div>
            {%endfor%}
        </div>
    </div>

   <div class="test"></div>

    



    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>